.sidebar {
  background-color: var(--text-900);
  color: var(--background-400);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  width: 25%;
  height: 75vh;
  padding: 40px;
}
.navMainActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
